#client-details {
    background-color: lightsteelblue;
    width: 970px;
    position: absolute;
    left: 265px;
}

#account-actions {
    position: absolute;
    top: 80px;
    left: 265px;
}

.account-buttons {
    width: 150px;
}

#account-popup {
    width: 200px;
}