#account-details {
    position: absolute;
    width: 970px;
    top: 105px;
    left: 265px;
}

#account-details {
    background-color: gainsboro;
}

#transaction-list {
    position: absolute;
    top: 200px;
    left: 265px;
}

#transactions-table {
    border-collapse: collapse;
}

#transactions-table tr th{
    border: 2px solid black;
    width: 238px;
}

#transactions-table tr td {
    border: 1px solid black;
    text-align: center;
}

.error {
    color: red;
}